<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Loan Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addNewLoan"
                    type="submit" *ngIf="IsAdmin"
                    style="padding-bottom: 50px;width: 126px;height: 29px;padding-top: 0px;">Add New Loan</button>
            </div>
        </div>
        <div class="container-fluid">
            <button type="button" class="btn btn-outline-secondary bi bi-box-arrow-right" style="margin-left: 700px;"
                (click)="onLogOut()">LogOut</button>

        </div>
    </nav>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline my-2 my-lg-0">
            <label for="name">SEARCH</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">By : First Name</span>
                </div>
                <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                    [(ngModel)]="firstName" name="firstName">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">By : Last Name</span>
                </div>
                <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                    [(ngModel)]="lastName" name="lastName">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">By : Loan Number</span>
                </div>
                <input type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                    [(ngModel)]="loanNumber" name="loanNumber">
            </div>
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="search by any of the below table columns"
                aria-label="firstName" id="firstName" [(ngModel)]="firstName" name="firstName"> -->
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="search by any of the below table columns"
                aria-label="lastName" id="lastName" [(ngModel)]="lastName" name="lastName"> -->
        </form>

    </nav>

    <!-- Table of loans -->
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Borrower's First Name</th>
                <th scope="col">Borrower's Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Loan Type</th>
                <th scope="col">Loan Term</th>
                <th scope="col">Loan Amount</th>
                <th colspan="2" class="table-active" *ngIf="IsAdmin">Actions</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr *ngFor="let loan of loanList | searchfilter:[firstName, lastName, loanNumber]:['firstName','lastName', 'loanNumber'];">
                <td>{{loan.loanNumber}}</td>
                <td>{{loan.firstName}}</td>
                <td>{{loan.lastName}}</td>
                <td>{{loan.address}}</td>
                <td>{{loan.loanType}}</td>
                <td>{{loan.loanTerm}}</td>
                <td>{{loan.loanAmount}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                        data-bs-target="#editLoan" (click)="onEditLoan(loan)" *ngIf="IsAdmin">Edit Loan</button>
                    <button type="button" class="btn btn-outline-danger" (click)="onDeleteLoan(loan)"
                        *ngIf="IsAdmin">Delete Loan</button>
                </td>

            </tr>

        </tbody>
    </table>


    <!-- Add New Loan modal -->
    <div class="modal fade" id="addNewLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Loan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addNewLoanForm">
                        <div class="mb-3">
                            <input type="hidden" formControlName="loanID" class="form-control" id="loanID">
                        </div>

                        <div class="mb-3">
                            <label for="firstName" class="form-label">Loan Number<span class="required">*</span></label>
                            <input type="number" formControlName="loanNumber" class="form-control" id="loanNumber">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanNumber').touched && addNewLoanForm.get('loanNumber').invalid"  >Loan Number Is Required</small>
                        </div>

                        <div class="mb-3">
                            <label for="firstName" class="form-label">Borrower's First Name <span class="required">*</span></label>
                            <input type="text" formControlName="firstName" class="form-control" id="firstName">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('firstName').touched && addNewLoanForm.get('firstName').invalid"  >Borrower's First Name Is Required</small>
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label">Borrower's Last Name <span class="required">*</span></label>
                            <input type="text" formControlName="lastName" class="form-control" id="lastName">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('lastName').touched && addNewLoanForm.get('lastName').invalid"  >Borrower's Last Name Is Required</small>
                        </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">Property Address <span class="required">*</span></label>
                            <input type="text" formControlName="address" class="form-control" id="address">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('address').touched && addNewLoanForm.get('address').invalid"  >Property Address Is Required</small>
                        </div>

                        <label for="loanDetails" class="form-label">Loan Details</label>
                        <hr>
                        <div class="mb-3">
                            <label for="loanType" class="form-label"> Loan Type <span class="required">*</span></label>
                            <select class="form-select" formControlName="loanType" id="loanType" aria-label="Loan Type">
                                <option value="1">Confirming</option>
                                <option value="2">Non-confirming</option>
                            </select>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanType').touched && addNewLoanForm.get('loanType').invalid">Please Select Loan Type</small>
                        </div>
                        <div class="mb-3">
                            <label for="loanTerm" class="form-label"> Loan Term (In Years)<span class="required">*</span></label>
                            <input type="number" formControlName="loanTerm" class="form-control" id="loanTerm" pattern="[1-9]+">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanTerm').touched && addNewLoanForm.get('loanTerm').invalid && !addNewLoanForm.get('loanTerm').dirty"  >Please enter loan term </small>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanTerm').touched &&  addNewLoanForm.get('loanTerm').dirty && addNewLoanForm.get('loanTerm').invalid"  >Please specify a valid loan term </small>
                        </div>
                        <div class="mb-3">
                            <label for="loanAmount" class="form-label"> Loan Amount $<span class="required">*</span></label>
                            <input type="number" formControlName="loanAmount" class="form-control" id="loanAmount" pattern="[1-9]+">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanAmount').touched && addNewLoanForm.get('loanAmount').invalid && !addNewLoanForm.get('loanAmount').dirty"  >Please enter loan amount </small>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanAmount').touched &&  addNewLoanForm.get('loanAmount').dirty && addNewLoanForm.get('loanAmount').invalid"  >Please specify a valid loan amount </small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="onAddLoan()"
                                data-bs-dismiss="modal" [disabled]="!addNewLoanForm.valid">Add Loan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Loan modal -->
    <div class="modal fade" id="editLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Loan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addNewLoanForm">
                        <div class="mb-3">
                            <input type="hidden" formControlName="loanID" class="form-control" id="loanID">
                        </div>

                        <div class="mb-3">
                            <label for="firstName" class="form-label">Loan Number<span class="required">*</span></label>
                            <input type="number" formControlName="loanNumber" class="form-control" id="loanNumber">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanNumber').touched && addNewLoanForm.get('loanNumber').invalid"  >Loan Number Is Required</small>
                        </div>
                        
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Borrower's First Name <span class="required">*</span></label>
                            <input type="text" formControlName="firstName" class="form-control" id="firstName">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('firstName').touched && addNewLoanForm.get('firstName').invalid"  >Borrower's First Name Is Required</small>
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label">Borrower's Last Name <span class="required">*</span></label>
                            <input type="text" formControlName="lastName" class="form-control" id="lastName">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('lastName').touched && addNewLoanForm.get('lastName').invalid"  >Borrower's Last Name Is Required</small>
                        </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">Property Address <span class="required">*</span></label>
                            <input type="text" formControlName="address" class="form-control" id="address">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('address').touched && addNewLoanForm.get('address').invalid"  >Property Address Is Required</small>
                        </div>

                        <label for="loanDetails" class="form-label">Loan Details</label>
                        <hr>
                        <div class="mb-3">
                            <label for="loanType" class="form-label"> Loan Type <span class="required">*</span></label>
                            <select class="form-select" formControlName="loanType" id="loanType" aria-label="Loan Type">
                                <option value="1">Confirming</option>
                                <option value="2">Non-confirming</option>
                            </select>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanType').touched && addNewLoanForm.get('loanType').invalid">Please Select Loan Type</small>
                        </div>
                        <div class="mb-3">
                            <label for="loanTerm" class="form-label"> Loan Term (In Years)<span class="required">*</span></label>
                            <input type="number" formControlName="loanTerm" class="form-control" id="loanTerm" pattern="[1-9]+">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanTerm').touched && addNewLoanForm.get('loanTerm').invalid && !addNewLoanForm.get('loanTerm').dirty"  >Please enter loan term </small>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanTerm').touched &&  addNewLoanForm.get('loanTerm').dirty && addNewLoanForm.get('loanTerm').invalid"  >Please specify a valid loan term </small>
                        </div>
                        <div class="mb-3">
                            <label for="loanAmount" class="form-label"> Loan Amount $<span class="required">*</span></label>
                            <input type="number" formControlName="loanAmount" class="form-control" id="loanAmount" pattern="[1-9]+">
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanAmount').touched && addNewLoanForm.get('loanAmount').invalid && !addNewLoanForm.get('loanAmount').dirty"  >Please enter loan amount </small>
                            <small class="text-danger" *ngIf="addNewLoanForm.get('loanAmount').touched &&  addNewLoanForm.get('loanAmount').dirty && addNewLoanForm.get('loanAmount').invalid"  >Please specify a valid loan amount </small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-success" (click)="onUpdateLoan()"
                                data-bs-dismiss="modal">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>